*{
    margin: 0;
    padding: 0;

}
#main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px;
}
.rect{
    display: flex;
}

.shape{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content:center;
    margin-top: 10px;
    margin-left: 10px;

}
#cursor{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: aqua;
    position: absolute;
}